{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<div style="min-height:350px;background:#242424;color:white">
<div class="container" style="min-height:350px;background:#242424">
    <div class="aboutbody" >
  <p style="font-size:20px">Competative Tracker Towards Nuturing Coding Culture a competative coding platform<br>
powered by<br>
Maharaj Vijayaram Gajapathi Raj College of Engineering (Autonomous)<br>
to Encourse students to learn Coding.</p>
</div>
    </div>
</div>
{% endblock %}